#title{
    background-color:rgb(103,75,255);
}
#my-app {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 150%;
}
.white-header {
    color: white;
}


.flex-one {
    display: flex;
}

.item {
    flex: 1;
}

.one {
    align-self: center;
    margin-left: 10%;
    font-weight: 10000;
    font-family: 'Heebo', sans-serif;
}

.dog { 
    align-self: center;
    margin-bottom: -80px;
    margin-left: 10%;
    min-width: 500px
}



.download-btn-div {
    margin-top: 30px;

}

.download-btn {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 20px;    
}

.navigation {
    display:flex;
}
.navbar {
    color: white;
}

.navbar-brand {
    margin-left: 10vh;
}

#features {
    margin-top: 100px;
    text-align: center;
}

.press-icons{
    text-align: center;
    justify-content: center;
    padding-bottom: 6%;
}
.mtv {
    margin-right: -50%;
    padding-top: 7%;
    height: auto;
}


.testimonials-section {
    background-color:rgb(103,75,255);
}

.carousel-item {
    text-align: center;
    padding: 100px;

}

.package-title {
    text-align: center;
    padding-top: 5%;
}

.interesting-p {
    font-weight: 400;
}

.package-one {
    text-align: center;
    font-weight: bold;
}

.app {
    text-align: center;
    margin-top: 10vh;
    background-color: rgb(103,75,255);;
}

.app-need {
    font-size: 280%;
    font-family: 'Raleway', sans-serif;
    font-stretch: expanded;
    color: white;
    margin-bottom: 50px;

}

.app-content {
    padding: 100px;
}

.social-media {
    text-align: center;
    margin-top: 10vh;
    
}

.social {
    color: rgba(14, 13, 13, 0.849);
    margin-left: 40px;
}

#footer {
    text-align: center;
    margin-top: 20px;
    color: rgba(14, 13, 13, 0.849);
    font-size: smaller;
}

.dog-img {
    border-radius: 90%;
    height: 10%;
    width: 10%;
}

.quote {
    margin-bottom: 5%;
    font-weight: bolder;
}

.city {
    color: white;
    font-weight: lighter;
}