#title{
    background-color:rgb(103,75,255);
}

.white-header {
    color: white;
}
.flex-one {
    display: flex;
}

.item {
    text-align: center;
    flex: 1;
}

.one {
    align-self: center;
    font-family: 'Heebo', sans-serif;
}

.dog { 
    align-self: center;
    margin-bottom: -80px;
}



.download-btn {
    margin-top: 30px;

}

.navigation {
    display:flex;
}

.navbar-nav {
    text-align: right;
}

#features {
    margin-top: 100px;
    text-align: center;
}

.press-icons{
    display: flex;
}

.mtv {
   align-self: center;
   justify-content: center;
   flex: 1;
   text-align: center;
}

.testimonials-section {
    background-color:rgb(103,75,255);
}
.carousel-inner{
    margin: auto;
}

.package-title {
    text-align: center;
    padding-top: 5%;
}

.package-one {
    text-align: center;
}

